<h2>List of Users</h2>
<div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
<button class="btn btn-primary" *ngIf="!isLoggedIn" (click)="regularUserCreate()">Register</button>
<div *ngIf="regularUsers">
    <table class="table">
        <thead>
            <tr>
                <td><b>ID</b></td>
                <td><b>Username</b></td>
                <td><b>First Name</b></td>
                <td><b>Last Name</b></td>
                <td><b>Email</b></td>
                <td><b>Options</b></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of regularUsers">
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>
                    <button class="btn btn-primary" (click)="regularUserDetail(user)">View</button>
                    <button class="btn btn-primary" *ngIf="isLoggedIn && user.id == getLoggedInUserId()" (click)="regularUserUpdate(user)">Update</button>
                    <button class="btn btn-danger" *ngIf="isLoggedIn && user.id == getLoggedInUserId()" (click)="regularUserDelete(user)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
